.q-option{
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.list-text{
    font-size: 0.7em;
}
.right-align{
    float: right;
    margin-right: 2vw !important;
}
.paddi-top-5{
    margin-top: 3vh !important;
}
.lp-border{
    border-left: 2px solid black;
}