
.banner-welcome{
    background-image: url("./../../assets/welcome.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -70vh;
    width: 100%;
    height: 70vh;
  }
  .typo-title{
    padding-top: 5%;
  }